.nav {
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    padding: 2rem 5rem;
}

.nav__logo {
    img {
        width: 6.5rem;
        height: 6.5rem;
    }
}

.menu-mobile {
    display: block;
    cursor: pointer;

    i {
        color: #fff;
        font-size: 3rem;
    }
    @include tablet  {
        display: none;
    }
}

.menu {
    list-style: none;
    display: none;
    row-gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 3rem;
    left: 3rem;
    top: 7rem;
    padding: 3rem;
    background-color: rgba(0,0, 0,.6);
    border-radius: 1rem;
    
    @include tablet {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        column-gap: 1.2rem;
        position: static;
        padding: 0;
    }
    a {
        color: #FFFAFA;
        font-size: 2rem;
        transition: .5s ease;
        &:hover {
            color: #0a0a0a;
        }
    }

    .active {
        border-bottom: 2px solid #FFFAFA;
        a {
            color: #FFFAFA;
        }
    }
}

.menu-active {
    display: flex;
}


